#search-result{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}
#search-result img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
}

@media (min-width: 360px) and (max-width: 767px) {
    #search-result{
        grid-template-columns: 1fr 1fr;
    }
}
